@CHARSET "UTF-8";

body {
	font-size: 1em;
	font-family: 'Microsoft YaHei', Tahoma, Helvetica, Arial, SimSun, sans-serif;
	margin: 0px;
	padding: 0px;
	background-color: #ffffff;
}
div.page-loading {
	background-color: #000000;
	background-image: url(../img/page-loading.gif);
	background-position: center center;
	background-repeat: no-repeat;
	opacity: 0.3;
	z-index: 9;
	position: absolute;
	left: 0px;
	right: 0px;
	top: 0px;
	bottom: 0px;
	overflow: hidden;
}

div.bar {
	height: 40px;
	width: 100%;
	display: -webkit-box;
	display: -moz-box;
	display: box;
	-webkit-box-orient: horizontal;
	-moz-box-orient: horizontal;
	box-orient: horizontal;
	background-color: #ffffff;
	border-bottom: 1px solid #cccccc;
	position: fixed;
	top: 0px;
	z-index: 6;
}
div.bar div.back {
	margin-top: 5px;
	height: 30px;
	line-height: 30px;
	font-size: 0.9em;
	text-align: center;
	cursor: pointer;
	padding-left: 1em;
	padding-right: 1em;
	/*border-right: 1px solid #999999;*/
}
div.bar div.glue {
	-webkit-box-flex: 1;
	-moz-box-flex: 1;
	box-flex: 1;
}

div.bar div.cb {
	margin-top: 5px;
	height: 30px;
	line-height: 30px;
	font-size: 0.9em;
	text-align: center;
	cursor: pointer;
	padding-left: 1em;
	padding-right: 1em;
	/*border-left: 1px solid #999999;*/
	-webkit-box-flex: 0;
	-moz-box-flex: 0;
	box-flex: 0;
}

div.bar-background {
	height: 40px;
	width: 100%;
	background-color: #ffffff;
}

div.blank {
	height: 40px;	
}
























